.cardFilm {
    display: flex;
    align-items: center;
}

.title {
    margin-bottom: 25px;
    color: #1e4a79;
}

.img {
    width: 250px;
    margin-right: 50px;
}

.score {
    margin-bottom: 30px;
    color: #5296A5;
}