.container {
    margin-bottom: 10px;
}

.link {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    background-color: #90cea1;
    font-size: 14px;
    color: #515151;

    border-radius: 5px;
    border: 1px solid #bbbbbb;

    &:hover,
    :focus {
        color: #dddddd;
        background-color: #01b4e4
        ;
    }
}